<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logstashHost" source="logging.logstash.url"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>


    <if condition='isDefined("logstashHost")'>
        <then>
            <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${logstashHost}</destination>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>

            <root level="INFO">
                <appender-ref ref="stash"/>
            </root>
        </then>
    </if>

</configuration>